.container_best{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
    
}

.block_card{
    
}

.chicken{
    width: 300px;
    height: 320px;
}